<aside
    {{ attributes }}
    class="adminMenu"
    data-turbo-prefetch="true"
    
    >

    <div class="logo">
        <img src="" alt="" class="logo">
    </div>
    <!-- component HTML -->

    <ul 
    class="menu__items"
    >
        {% for item in menu %}
            <li
            
                class="menu__item"
            >
                <a 
                    href="{{path(item.route)}}"
                    {# title="{{item}}" #}
                    data-turbo-frame="admin-main"
                    data-turbo-preload="true"
                    data-turbo-action="replace"
                >
                    {{item.name}}
                </a>
            </li>
            
        {% endfor %}
    </ul>
</aside>
