//? == size

$font-desk-72-36 : clamp(2.25rem, -0.3214rem + 5.3571vw, 4rem); 
$font-desk-48-32 : clamp(2rem, -0.2143rem + 3.5714vw, 3rem); 
$font-desk-32-20 : clamp(1.25rem, 0.3929rem + 1.7857vw, 2rem);
$font-desk-32-16 : clamp(1rem, -0.1429rem + 2.381vw, 2rem); 
$font-desk-32-14 : clamp(0.9rem, -0.3571rem + 2.619vw, 2rem); 
$font-desk-24-16 : clamp(1rem, 0.4286rem + 1.1905vw, 1.5rem); 
$font-desk-20-16 : clamp(1rem, 0.4286rem + 1.1905vw, 1.25rem);
 
$font-desk-20-14 : clamp(0.89rem, 0.0038rem + 1.3846vw, 1.25rem);



$font-mob-32-20 : clamp(1.25rem, 0.7143rem + 2.6786vw, 2rem); 
$font-mob-24-18 : clamp(1.125rem, 0.8571rem + 1.3393vw, 1.5rem); 
$font-mob-24-16 : clamp(1rem, 0.6429rem + 1.7857vw, 1.5rem); 
$font-mob-20-12 : clamp(0.8rem, 0.6429rem + 1.7857vw, 1.25rem);



//? ========= Color....