//? ========= Colors
//* === primary
$primary-35: hsl(248, 81%, 35%);
$primary-20: hsl(249, 100%, 20%);
$primary-15: hsl(247, 79%, 15%);
$primary-05: hsl(247, 93%, 5%);

//* === nuance
$nuance-95: hsl(249, 100%, 95%);
$nuance-t-1: hsla(249, 100%, 95%, 0.5);
$nuance-s-1: hsla(0, 5%, 21%, 0.5);
$nuance-5: hsl(249, 100%, 5%);

//* === secondary
$secondary-70: hsl(275, 97%, 70%);
$secondary-40: hsl(275, 97%, 40%);
$secondary-30: hsl(275, 97%, 30%);
$secondary-13: hsl(276, 100%, 13%);

//* === accent
$accent-35: hsl(176, 100%, 35%);
$accent-25: hsl(191, 89%, 25%);

//* === shadow

$shadow-01: $nuance-s-1;
$shadow-02: $secondary-70;
$shadow-02-hover: $accent-35;



//* === gradiant
$bg-linear : linear-gradient(
    0% $secondary-13, 
    21% $primary-05, 
    63% $primary-05, 
    );