//? ========= Font....

@font-face {
  font-family: 'Arkhip';
  src: url('../font/Arkhip/Arkhip-Regular.ttf') format('truetype');
  font-weight: normal ;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../font/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900 ;
  font-style: normal;
}

//? == familly
$font-title: "Manrope", sans-serif;
$font-text: "Nunito", sans-serif;
$font-style: "Merienda", sans-serif;