@use "../abstract/" as *;

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    font-size: 16px;
}

html,body{
  min-height: 100dvh;
  min-width: 100dvw;
}
body{

  a{
    text-decoration: none;
  }
    
    & h1, & h2, & h3, & h4, & h5, & h6{

      font-family: $font-familly;
    }
    
    & p,& a,& span,& strong {
      font-family: $font-familly;
    }
    

    // &.admin {
    //   // @extend %flex-row-start-start;
    //   // display: grid;
    //   // grid-template-columns: 300px 1fr;
    //   // background-color: $admin-nuance-b-30;

 



    // }

    &.front{
      background: $bg-linear ;
      

      main{
        position: relative;
        padding-block: clamp(1rem, -1.8626rem + 9.1603vw, 4rem);
      }
    }
}