@use "../abstract/" as *;
@use "../animations/variables" as animation;

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
  font-size: 16px;
  //? color variable
  @each $theme, $map in $themes {
    &[data-theme="#{$theme}"] {
        @each $key, $value in $map {
        --#{$key}: #{$value};
        }
    }
  }
  //? fontfamily variable
  @each $key, $value in $fontfamily {
    --font-#{$key}: #{$value};
  }
  //? fontsize variable
  @each $key, $value in map-get($fontsize, desktop) {
    --#{$key}:#{$value};
  }

  //? spacing variables
  @each $property, $scale in $spaces {
    @each $key, $value in $scale {
      --#{$property}-#{$key}: #{$value};
    }
  }

  //? animation variables
  @each $key, $value in animation.$animations {
    --animation-#{$key}: #{$value};
  }



//surcharge font size for table
  @media (max-width: 789px) {
    &{
      @each $key, $value in map-get($fontsize, tablet) {
        --#{$key}:#{$value};
      }
    }
  }
//surcharge font size for mobile
  @media (max-width: 500px) {
    &{
      @each $key, $value in map-get($fontsize, mobile) {
        --#{$key}: #{$value};
      }
    }
  }
}
  

html,body{
  min-height: 100dvh;
  min-width: 100dvw;
  overflow-x: hidden;
}
body{

  a{
    text-decoration: none;
  }
    
    & h1, & h2, & h3, & h4, & h5, & h6{

      font-family: var(--font-title);
    }
    
    & p,& a,& span,& strong {
      font-family: var(--font-text);
    }
    

    &.front{
      background: $bg-linear ;
      

      main{
        position: relative;
        padding-block: clamp(1rem, -1.8626rem + 9.1603vw, 4rem);
      }
    }
}
