@use "../../abstract" as *;

.admin{ 

    turbo-frame#projects-frame{
            grid-area: 2 / 1 / 3 / 2;
            overflow: scroll;
            
        .project{
            width: 100%;
            height: 100%;
            
            border-radius: 20px;
            background-color: $admin-nuance-b-15;
            box-shadow: 0 4px 4px 0 hsla(0,0%,0%, 0.31) ;
            

            padding-inline: 1rem;
            padding-block: 2rem;

            overflow-y: scroll;
        

        }
    }
}