@use "../abstract/" as *;

.admin{

    .button__action{
        @extend %flex-row-center-center;
        border-radius: 2rem;
        padding: 14px 24px;
        box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.31);
        
        background-color: $admin-nuance-w-100;
        color: $admin-nuance-b-20;
        
        
        &:hover{
            
            color: $admin-nuance-w-100;
            background-color: $admin-nuance-b-30;
        }
    }


    .button__componnent{
        @extend %flex-row-center-center;
        background-color: $admin-nuance-w-100;
        color: $admin-nuance-b-20;

        border-radius: 10px;
        padding: 8px 40px;
        font-size: 2rem;

        outline: none;
        border: none;

        box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.31);

        transition: 
            background-color 250ms ease-in-out,
            color 150ms ease-in-out,
        ;


        &:hover{
            
            color: $admin-nuance-w-100;
            background-color: $admin-nuance-b-30;
        }
    }
}