@use "../abstract/" as *;

.admin{

    
    form{
        
        .sun-editor{
            
            color: $admin-nuance-b-15;
            button, span{

                color: $admin-nuance-b-15;
                
                &:disabled{
                    color: $admin-nuance-b-30;

                }
            }
        }
        
        .wysiwygEditor{
            p,h1,h2,h3{
                color: $admin-nuance-b-15;
            }
        }
    }
}