

//? ========= main Colors
//* === primary
$primary-35: hsl(248, 81%, 35%);
$primary-20: hsl(249, 100%, 20%);
$primary-15: hsl(247, 79%, 15%);
$primary-05: hsl(247, 93%, 5%);

//* === nuance
$nuance-95: hsl(249, 100%, 95%);
$nuance-t-1: hsla(249, 100%, 95%, 0.5);
$nuance-s-1: hsla(0, 5%, 21%, 0.5);
$nuance-5: hsl(249, 100%, 5%);

//* === secondary
$secondary-70: hsl(275, 97%, 70%);
$secondary-40: hsl(275, 97%, 40%);
$secondary-30: hsl(275, 97%, 30%);
$secondary-13: hsl(276, 100%, 13%);

//* === accent
$accent-35: hsl(176, 100%, 35%);
$accent-25: hsl(191, 89%, 25%);

//* === shadow


$danger: hsl(3, 65%, 55%);;
$danger-hover:hsl(3, 65%, 75%);
$danger-activ:hsl(3, 65%, 45%);


//* === gradiant
$bg-linear : linear-gradient(
    $secondary-13 0% , 
    $primary-05 21% , 
    $primary-05 63% , 
    );

$border:hsl(240, 10%, 25%);
// $border-accent: hsl(176, 100%, 35%);
$bg-accent: hsl(191, 89%, 25%);
$bg-dark-accent: hsl(191, 89%, 15%);
$border-accent: hsl(176, 50%, 35%);
$border-accent-muted: hsl(176, 30%, 45%);


$bg-primary: hsl(249, 100%, 20%);
$bg-dark-primary: hsl(249, 100%, 10%);
// $border-primary: hsl(247, 75%, 30%);
$border-primary: hsl(234 92% 30% / 1);;
$border-primary-muted: hsl(247, 35%, 30%);

$border-secondary:hsl(275, 40%, 55%);
$border-secondary-muted:hsl(275, 20%, 25%);
//$border-muted:
$color: hsl(249, 100%, 95%);
$color-muted:hsl(240, 20%, 65%);
$shadow: 0 4px 4px 0px hsla(0, 0%, 0%, 0.30), 0 2px 2px 0px hsla(0, 0%, 0%, 0.15);
//








//? ========= admin Colors

//* === nuance
// $admin-nuance-b-30 : $bg-linear ;
// $admin-nuance-b-20 : $bg-linear ;
// $admin-nuance-b-15 : $bg-linear ;


// $admin-nuance-w-100 : $bg-linear ;
// $admin-nuance-b-30: hsl(0, 0%, 30%);
// $admin-nuance-b-20: hsl(0, 0%, 20%);
// $admin-nuance-b-15: hsl(0, 0%, 15%);


// $admin-nuance-w-100: hsl(0, 0%, 100%);
// $admin-nuance-w-87: hsl(0, 0%, 87%);

//! ======= admin variable

$dark-mode__bg-dark: oklch(0.1 0.05 293);
$dark-mode__bg: oklch(0.15 0.05 293);
$dark-mode__bg-light: oklch(0.2 0.05 293);
$dark-mode__text: oklch(0.96 0.1 293);
$dark-mode__text-muted: oklch(0.76 0.1 293);
$dark-mode__highlight: oklch(0.5 0.1 293);
$dark-mode__border: oklch(0.4 0.1 293);
$dark-mode__border-muted: oklch(0.3 0.1 293);
$dark-mode__primary: oklch(0.76 0.1 293);
$dark-mode__secondary: oklch(0.76 0.1 113);
$dark-mode__danger: oklch(0.7 0.2 30);
$dark-mode__warning: oklch(0.7 0.2 100);
$dark-mode__success: oklch(0.7 0.2 160);
$dark-mode__info: oklch(0.7 0.2 260);

$light-mode__bg-dark: oklch(0.92 0.05 293);
$light-mode__bg: oklch(0.96 0.05 293);
$light-mode__bg-light: oklch(1 0.05 293);
$light-mode__text: oklch(0.15 0.1 293);
$light-mode__text-muted: oklch(0.4 0.1 293);
$light-mode__highlight: oklch(1 0.1 293);
$light-mode__border: oklch(0.6 0.1 293);
$light-mode__border-muted: oklch(0.7 0.1 293);
$light-mode__primary: oklch(0.4 0.1 293);
$light-mode__secondary: oklch(0.4 0.1 113);
$light-mode__danger: oklch(0.5 0.2 30);
$light-mode__warning: oklch(0.5 0.2 100);
$light-mode__success: oklch(0.5 0.2 160);
$light-mode__info: oklch(0.5 0.2 260);


$shadow: 0px 2px 2px #00000030, 0px 4px 4px #00000015;

$themes: (
    dark: (
        bg-dark: $dark-mode__bg-dark,
        bg: $dark-mode__bg,
        bg-light: $dark-mode__bg-light,
        text: $dark-mode__text,
        text-muted: $dark-mode__text-muted,
        hoverlight: $dark-mode__highlight,
        border: $dark-mode__border,
        border-muted: $dark-mode__border-muted,
        primary: $dark-mode__primary,
        secondary: $dark-mode__secondary,
        danger: $dark-mode__danger,
        warning: $dark-mode__warning,
        success: $dark-mode__success,
        info: $dark-mode__info
    ),
    light: (
        bg-dark: $light-mode__bg-dark,
        bg: $light-mode__bg,
        bg-light: $light-mode__bg-light,
        text: $light-mode__text,
        text-muted: $light-mode__text-muted,
        hoverlight: $light-mode__highlight,
        border: $light-mode__border,
        border-muted: $light-mode__border-muted,
        primary: $light-mode__primary,
        secondary: $light-mode__secondary,
        danger: $light-mode__danger,
        warning: $light-mode__warning,
        success: $light-mode__success,
        info: $light-mode__info
    )
);



