@use "../../abstract/" as *;

.tabs{
    @extend %flex-row-start-center;
    gap: 0.5rem;
    width: min-content;
    // background-color: red;

    padding: 0.5rem 0.75rem;
    border-radius: 1rem;

    



    .tab{
        @extend %flex-row-center-center;
        gap: 0.5rem;
        // text-align: center;
        // width: min-content;
        // background-color: rgb(0, 213, 255);
        border: 1px solid;
        padding: 0.75rem 0.75rem;
        border-radius: 0.75rem;
        
        font-family: $font-text;
        font-size: clamp(1rem, 0.4286rem + 1.1905vw, 1.5rem);
        font-weight: 500;

        transition: 
            color 500ms ease, 
            background-color 500ms ease, 
            border-color 500ms ease, 
        ;
        
        &.active{
            box-shadow: $shadow;
            border: 2px solid;
        }

        .icon{
            width: clamp(1rem, 0.4286rem + 1.1905vw, 1.5rem);
            height: clamp(1rem, 0.4286rem + 1.1905vw, 1.5rem);
        }


    }


    @each $theme, $color in $themes{
        &--#{$theme}{
            background-color: map-get($color,bg );
        }
        
        & .tab--#{$theme}{
            background-color: map-get($color,bg );
            color: map-get($color,text-muted );
            border-color:  map-get($color,border-muted );



            &:hover:not(&.active){

                background-color: oklch(from map-get($color,bg) calc( l + 50/100) c h) ;
                color: oklch(from map-get($color,text-muted) calc( l - 0.31) c h);
                border-color:  map-get($color,border );
            }
            
            &.active{
                background-color: map-get($color,bg-light );
                color: map-get($color,text);
                border-color:  map-get($color,border );

            }


        }
    

    }
}