<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} | FullJam Dev Dashboard{% endblock %}</title>
    {# ? === css global === #}
    {% block stylesheets %}
        {# <link rel="stylesheet" href="{{ asset('styles/admin.scss') }}"> #}
    {% endblock %}
    {# ? === js === #}
    {% block javascripts %}
        {% block importmap %}{{ importmap(['admin']) }}{% endblock %}
    {% endblock %}
</head>
<body class="admin">

    {#?===== twig component adminmenu #}
    <twig:Admin:Menu />


    <turbo-frame id="admin-main">
        <main>
            {% block body %}
                
            {% endblock %}
        </main>
    </turbo-frame>
</body>
</html>