<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {# ? === title === #}
        <title>{% block title %}FullJam Dev - {% endblock %}</title>
        {# ? === metdescription === #}
        <meta name="description" content="{% block metadescription %}{% endblock %}">
        {# ? === jsonLD === #}
        {# ? === metakeyword === #}
        <meta name="keywords" content="{% block keyword %}{% endblock %}">
        {# ? === opengraph === #}
        {% block openGraph %}{% endblock %}
        
        {# ? === twitter === #}
        {# <meta property="og:title" content="Titre de la page">
        <meta property="og:description" content="Description pour les réseaux sociaux">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.exemple.com/page">
        <meta property="og:image" content="https://www.exemple.com/images/og-image.jpg"> #}
        {# ? === robot === #}
        <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
        {# ? === json/ld === #}

        <script type="application/ld+json">{% block jsonLD %}{% endblock %}</script>
        
        {# ? === languages === #}
        <link rel="alternate" hreflang="fr" href="https://fulljamdev.fr/">
        <link rel="alternate" hreflang="x-default" href="https://fulljamdev.fr/">
        {# ? === canonical === #}
        <link rel="canonical" href="{% block canonical %}{% endblock %}" />



        {# ? === favicon === #}
        <link rel="icon" href="{{absolute_url(asset('/favicon/favicon.svg'))}}">
        {# ? === css global === #}
        {% block stylesheets %}
            {# <link rel="stylesheet" href="{{ asset('styles/app.scss') }}"> #}
        {% endblock %}
        {# ? === js === #}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <script src="https://analytics.ahrefs.com/analytics.js" data-key="8/+2SjahgSwXty9ZjGAsyQ" async></script>
        <meta name="ahrefs-site-verification" content="78d1c4f2075e84aa1621f088021aa546e2d936c1b8e17791ebf187bafd4130c3">
    </head>
    <body class="front" {{stimulus_controller("responsive_nav")}}>
        {% include("partials/header/_header.html.twig") %}
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
